* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.container::before {
  content: " ";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #6266f5 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  z-index: 6;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
}
.container.sign-up-mode::before {
  transform: translate(100%, -50%);
}

.form-warp {
  width: 50%;
  position: absolute;
  z-index: 5;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  transition: 1s 0.7s ease-in-out; 
}
.form-warp form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  /* 将两个 form 布局在 grid 同一位置 */
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  transition: all 0.2s 0.7s;
  opacity: 1;
  z-index: 4;
}
.form-title {
  color: #6266f5;
}
.form-warp .sign-up-form {
  opacity: 0;
  z-index: 3;
}
.container.sign-up-mode .form-warp {
  left: 25%;
}
.container.sign-up-mode .sign-in-form {
  opacity: 0;
  z-index: 3;
}
.container.sign-up-mode .sign-up-form {
  opacity: 1;
  z-index: 4;
}

.form-item {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  line-height: 1;
  font-size: 16px;
  border-radius: 60px;
  color: #333;
  background-color: #6267f513;
  border: none;
}

.upscale-input {
  width: 50px;
}

.submit-btn {
  min-width: 300px;
  outline: none;
  padding: 12px 30px;
  line-height: 1;
  font-size: 16px;
  border-radius: 60px;
  color: #333;
  background-color: #6267f513;
  border: none;
}
input::placeholder {
  color: #cccc;
}
.submit-btn {
  background-color: #6266f5;
  color: #FFF;
  text-align: center;
  min-width: 150px;
  font-size: initial;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.desc-warp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.desc-warp-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  text-align: center;
  padding: 3rem 17% 2rem 12%;
  z-index: 6;
}
/* 事件穿透 BEGIN */
.sign-in-desc {
  pointer-events: none;
}
.sign-up-mode .sign-in-desc {
  pointer-events: all;
}
.sign-up-mode .sign-up-desc {
  pointer-events: none;
}
/* 事件穿透 END */
.content {
  width: 100%;
  transition: transform 0.9s ease-in-out;
  transition-delay: .6s;
}
.sign-in-desc img,
.sign-in-desc .content {
  transform: translateX(800px);
}
.sign-up-mode .sign-in-desc img,
.sign-up-mode .sign-in-desc .content {
  transform: translateX(0);
}

.sign-up-mode .sign-up-desc img,
.sign-up-mode .sign-up-desc .content {
  transform: translateX(-800px);
}

.jump-url {
    background-color: #6266f5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    padding: 12px 30px;
    margin-bottom: 12px;
    line-height: 1;
    border-radius: 60px;
    border: none;
    transition: all .3s ease;
}

/* 遮罩层 */
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  /* IE9以下不支持rgba模式 */
  background-color: rgba(0, 0, 0, 0.5);
  /* 兼容IE8及以下 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
  display: none;
}
/* 弹出框主体 */
.popup {
  background-color: #ffffff;
  max-width: 400px;
  min-width: 200px;
  height: auto;
  border-radius: 20px;
  margin: 100px auto;
  text-align: center;
}

/* 弹出框的标题 */
.popup_title {
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #cccccc;
}
/* 弹出框的内容 */
.popup_content {
  height: auto;
  padding: 15px 20px;
  border-bottom: solid 1px #cccccc;
   display: flex; /* 开启flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.popup_content p {
  line-height: 30px;
  margin-right: auto;
  margin-left: 0;
}

.popup_content img {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 0;
  /*animation: spin 1s linear infinite;  // 旋转动画*/
}

.update_info {
  align-items: center;
  padding-top: 20px ;
  padding-bottom: 20px;
}

.hot-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.hot-list-item p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #212121;
  text-decoration: none;
}

.num-top {
  background-color: #3370ff;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  text-align: center;
  width: 24px;
  min-width: 24px;
}

#result {
  display: none;
  margin-top: 10px;
  text-align: center;
}
#result img {
  width: 40%;
  height: auto;
  margin: 10px;
  display: inline-block;
}
#result a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 60px;
  text-align: center;
}
#result a:hover {
  background-color: #3e8e41;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  outline: none;
  padding: 6px 8px;
  min-width: 100px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #FFF;
  background: none;
  color: #FFF;
  cursor: pointer;
  transition: all .3s ease;
}
button:active {
  background: rgba(255, 255, 255, .1);
}
img {
  width: 100%;
  display: block;
  transition: transform 0.9s ease-in-out;
  transition-delay: .5s;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

.exclamation {
    color: black;
    font-size: 10pt;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    font-size: 10pt;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* 响应式 */
@media screen and (max-width: 870px) {
  .container::before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .container.sign-up-mode::before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .form-warp {
    width: 100%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .container.sign-up-mode .form-warp {
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  img {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.7s;
  }
  .desc-warp {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .desc-warp-item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }
  .sign-in-desc {
    grid-row: 3 / 4;
  }

  .sign-in-desc img,
  .sign-in-desc .content {
    transform: translateY(800px);
  }

  .sign-up-mode .sign-in-desc img,
  .sign-up-mode .sign-in-desc .content {
    transform: translateY(0);
  }

  .sign-up-mode .sign-up-desc img,
  .sign-up-mode .sign-up-desc .content {
    transform: translateY(-800px);
  }
}

#version-info {
  text-align: left;
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.7);
  z-index: 9999;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 50px;
}

#version-info:hover {
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  max-height: 100%;
  :is(div) {
    color: white;
  }
}

#version-info div{
  color: rgba(128, 128, 128, 0.7);
}


.update-details {
  opacity: 0;
  max-height: 0;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease;
}

#version-info:hover .update-details {
  opacity: 1;
  max-height: 100%;
}


@media screen and (max-width: 570px) {
  .container::before {
    bottom: 72%;
    left: 50%;
  }
}